<h1>Upcoming Events :) </h1>
<% @events.each do |event| %>
<br>
<%=link_to event.eventname , event  %>
<%= event.date %>
<p> Creator: <%= event.creator.name%> </p>
    
<%end%>
<br>
<br>
<%= button_to "Add New Event", new_event_path, method: :get%>