<h1>Upcoming Events :) </h1>

<% @events.each do |event| %>
<div class="row row-cols-6 g-1">
  <div class="col">
    <div class="card">
        <img src="https://picsum.photos/500/300?random" class="card-img-top"
            alt="Free unsplash image" />
        <div class="card-body">
            <h5 class="card-title"><%= event.eventname %></h5>
            <p class="card-text">Event Date: <%= event.date %></p>
            <p class="card-text">Created by:  <%=event.creator.name  %></p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Attend</a>
            <a href="" class="card-link">More Info</a>
        </div>
    </div>
  </div>
</div>
<%end%>

<br>
<br>
<%= button_to "Add New Event", new_event_path, method: :get%>